#bodyid {
    background-image:url(fht6.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
#div1,
#about1,
#about2,#skills,#list1,#list2 ,#contact,#fourth{
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
#div1 {
    animation: fadeSlideIn 1s ease-out 0s 1 normal forwards;
    scroll-margin-top: 50px; 
}
#about1,#skills ,#contact{
    animation: fadeSlideIn 1s ease-out 0.5s 1 normal forwards;
    scroll-margin-top: 50px; 
}

#about2,#list1,#list2,#fourth {
    animation: slideIn 1s ease-out 1s 1 normal forwards;
    scroll-margin-top: 50px; 
}
@media only screen and (min-width: 1024px){ 
     #div1{
    width: 40%;
    padding: 0px;
    height: 100%;
    margin: 0px;
  }
  #topnav{
    height:20%;
    margin: 80px;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left:0px;
  }
#home1{
    color: white;
    font-family: 'Lexend', sans-serif;
    letter-spacing: 3px;
    font-size: 60px;
    margin-left: 158px;
    margin-top:0px ;
}
#home2{
    font-family: 'Rajdhani', sans-serif;
    color:rgb(129, 129, 128);
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 200px;
    margin-left: 130px;
}
#home3{
    color: rgb(129, 129, 129);
    margin-left: 170px;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 1.5px;
    font-size: 17px;
}
#v1{
    border-left: 2px solid silver;
    position: absolute;
    height: 90px;
    left: 162px;
}
#icons{
    position:absolute;
    top:28.8%;
    left: 96%;
}
*{
    text-decoration: none;
}
.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    position: absolute;
    top: 7px;
}
button {
    background-color:rgb(20, 2, 14);
    color: white;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    padding-left: 10px;
    position: relative;
    right: 150px;
}
    button:hover {
    box-shadow: 0 0 5px rgb(155, 43, 107),
    0 0 25px rgb(155, 43, 107), 0 0 50px rgb(155, 43, 107),
    0 0 100px rgb(155, 43, 107), 0 0 200px rgb(155, 43, 107);
    }
button a{
    color: white;
}
li{
    display: inline-block;
}
li a{
    color: white;
    margin-right: 90px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    position: relative;
    right: 200px;   
}
    li a:after{
        content: "";
        position: absolute;
        background-color: rgb(155, 43, 106);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    li a:hover{
        color: rgb(108, 102, 102);
    }
li a:hover:after{
    width: 100%;
}
.logo a{
    color: white;
    position: absolute;
    left: 5%;
}
#bord{
    border-radius:80px ;
    border-color:rgba(95, 95, 95, 0.91);
    width: 90%;
    position: absolute;
    top: 20px;
    left:60px;
    border-width:0.1px;
    border-style: solid;
}
#logoimg{
    height: 45px;
    position: absolute;
    left: 28px;
    top: 5px;
}
#about{
    position: absolute;
    top: 670px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#about1 {
    position: absolute;
    top: 100px;
    left: 140px;
    width: 40%;
    margin: 0;
    padding: 0;
}
#second{
    position: absolute;
    top: 770px;
    width: 90%;
}
#me {
    font-weight: 600;
    font-size: 20px;

    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1.5px;
color: rgb(171, 163, 163);
}

#about2 {
    position: absolute;
    top: 120px;
    left: 900px; 
}

#self{
    width: 320px;
    border: 2px solid rgb(155, 43, 106);
    height: 400px;
}
#skills{
    position: absolute;
    top: 1500px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#third{
    position: absolute;
    top: 1750px;
    height: 350px;
    display: flex;
    width: 1510px;
}
#list1{
    position: absolute;
    top: 0px;
    left: 120px;
    color: rgb(171, 163, 163);
    font-size: 25px;
    width: 750px;
}
#list2{
    position: absolute; 
    top: 0px;
    left: 780px;
    color: rgb(171, 163, 163);
    font-size: 25px;
}
footer{
    background-color: #0e0108;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 3000px;
    width: 1510px;
}
footer p {
    margin-bottom: 0;
}
#contact{
    position: absolute;
    top: 2250px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#fourth{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    top:2500px;
    left:170px;
}
#email{
    height: 30px;
    background-color: #190811;
    font-family:'Lexend', sans-serif ;
    color: white;
}
#subject{
    height: 30px;
    font-family:'Lexend', sans-serif ;
    background-color: #190811;
    color: white;
}
#message{
    height: 100px;
    font-family:'Lexend', sans-serif ;
    background-color: #190811;
    color:white;
    text-align:start;
}
#send{
    font-family:'Lexend', sans-serif ;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(215, 202, 207);
}
#list1circles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    top: 22px;
    width: 100px; 
    height: 260px;
    position: absolute;
    left: 380px;
}
.circle-group {
    display: flex;  
}
.circle-group2{
    display: flex;
}
.circle2{
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    background-color: #e12497; 
    margin: 7px;
}
.circle {
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    background-color: #e12498; 
    margin: 7px;
} 
#list2circles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    top: 22px;
    width: 100px; 
    height: 260px;
    position: absolute;
    left: 380px;
    }
    .circle {
        opacity:0.2; 
    }
    .circle2{
        opacity: 0.2;
    }
    .circle-group:nth-child(1) .circle:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group:nth-child(2) .circle:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group:nth-child(3) .circle:nth-child(-n+4) {
        opacity: 1;
    }
    .circle-group:nth-child(4) .circle:nth-child(-n+4) {
        opacity: 1;
    }
    .circle-group:nth-child(5) .circle:nth-child(-n+2) {
        opacity: 1;
    }
    .circle-group2:nth-child(1) .circle2:nth-child(-n+2) {
        opacity: 1;
    }
    .circle-group2:nth-child(2) .circle2:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group2:nth-child(3) .circle2:nth-child(-n+5) {
        opacity: 1;
    }
    .circle-group2:nth-child(4) .circle2:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group2:nth-child(5) .circle2:nth-child(-n+4) {
        opacity: 1;
    }}
@media only screen and (min-width: 1200px){
  #div1{
    width: 40%;
    padding: 0px;
    height: 100%;
    margin: 0px;
  }
  #topnav{
    height:20%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left:0px;
  }
#home1{
    color: white;
    font-family: 'Lexend', sans-serif;
    letter-spacing: 3px;
    font-size: 60px;
    margin-left: 158px;
    margin-top:0px ;
}
#home2{
    font-family: 'Rajdhani', sans-serif;
    color:rgb(129, 129, 128);
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 200px;
    margin-left: 130px;
}
#home3{
    color: rgb(129, 129, 129);
    margin-left: 170px;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 1.5px;
    font-size: 17px;
}
#v1{
    border-left: 2px solid silver;
    position: absolute;
    height: 90px;
    left: 162px;
}
#icons{
    position:absolute;
    top:28.8%;
    left: 96%;
}
*{
    text-decoration: none;
}
.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    position: absolute;
    top: 7px;
}
button {
    background-color:rgb(20, 2, 14);
    color: white;
    font-family: 'Lexend', sans-serif;
    font-weight: 399;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    padding-left: 10px;
    position: relative;
    right: 150px;

}
    button:hover {
    box-shadow: 0 0 5px rgb(155, 43, 107),
    0 0 25px rgb(155, 43, 107), 0 0 50px rgb(155, 43, 107),
    0 0 100px rgb(155, 43, 107), 0 0 200px rgb(155, 43, 107);
    }
button a{
    color: white;
}
li{
    display: inline-block;
}
li a{
    color: white;
    margin-right: 90px;
    font-family: 'Lexend', sans-serif;
    font-weight: 399;
    position: relative;
    right: 200px;   
}
li a:after{
    content: "";
    position: absolute;
    background-color: rgb(155, 43, 106);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
li a:hover{
    color: rgb(108, 102, 102);
}

li a:hover:after{
    width: 100%;
}
.logo a{
    color: white;
    position: absolute;
    left: 5%;
}
#bord{
    border-radius:80px ;
    border-color:rgba(95, 95, 95, 0.91);
    width: 90%;
    position: absolute;
    top: 20px;
    left:60px;
    border-width:0.1px;
    border-style: solid;
}
#logoimg{
    height: 45px;
    position: absolute;
    left: 28px;
    top: 5px;
}
#about{
    position: absolute;
    top: 670px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#about1 {
    position: absolute;
    top: 100px;
    left: 140px;
    width: 40%;
    margin: 0;
    padding: 0;
}
#second{
    position: absolute;
    top: 770px;
    width: 90%;
}
#me {
    font-weight: 600;
    font-size: 20px;

    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1.5px;
color: rgb(171, 163, 163);
}

#about2 {
    position: absolute;
    top: 120px;
    left: 900px; 
}

#self{
    width: 320px;
    border: 2px solid rgb(155, 43, 107);
    height: 400px;
}
#skills{
    position: absolute;
    top: 1500px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#third{
    position: absolute;
    top: 1750px;
    height: 350px;
    display: flex;
    width: 1510px;
}
#list1{
    position: absolute;
    top: 0px;
    left: 120px;
    color: rgb(171, 163, 163);
    font-size: 25px;
    width: 750px;
}
#list2{
    position: absolute;
    top: 0px;
    left: 780px;
    color: rgb(171, 163, 163);
    font-size: 25px;
}
footer {
    background-color: #0e0108;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 3000px;
    width: 1510px;
}

footer p {
    margin-bottom: 0;
}
#contact{
    position: absolute;
    top: 2250px;
    left: 140px;
    font-size: 80px;
    color: white;
    font-family:'Lexend', sans-serif ;
}
#fourth{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    top:2500px;
    left:170px;
}
#email{
    height: 30px;
    background-color: #190811;
    font-family:'Lexend', sans-serif ;
    color: white;
}
#subject{
    height: 30px;
    font-family:'Lexend', sans-serif ;
    background-color: #190811;
    color: white;
}
#message{
    height: 100px;
    font-family:'Lexend', sans-serif ;
    background-color: #190811;
    color:white;
    text-align:start;
}
#send{
    font-family:'Lexend', sans-serif ;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(215, 202, 207);
}
#list1circles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    top: 22px;
    width: 100px; 
    height: 260px;
    position: absolute;
    left: 380px;
    
}

.circle-group {
    display: flex;
    
}
.circle-group2{
    display: flex;
}
.circle2{
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    background-color: #e12497; 
    margin: 7px;
}

.circle {
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    background-color: #e12498; 
    margin: 7px;
} 
#list2circles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    top: 22px;
    width: 100px; 
    height: 260px;
    position: absolute;
    left: 380px;
    }
    .circle {
        opacity:0.2; 
    }
    .circle2{
        opacity: 0.2;
    }
    .circle-group:nth-child(1) .circle:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group:nth-child(2) .circle:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group:nth-child(3) .circle:nth-child(-n+4) {
        opacity: 1;
    }
    .circle-group:nth-child(4) .circle:nth-child(-n+4) {
        opacity: 1;
    }
    .circle-group:nth-child(5) .circle:nth-child(-n+2) {
        opacity: 1;
    }
    .circle-group2:nth-child(1) .circle2:nth-child(-n+2) {
        opacity: 1;
    }
    .circle-group2:nth-child(2) .circle2:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group2:nth-child(3) .circle2:nth-child(-n+5) {
        opacity: 1;
    }
    .circle-group2:nth-child(4) .circle2:nth-child(-n+3) {
        opacity: 1;
    }
    .circle-group2:nth-child(5) .circle2:nth-child(-n+4) {
        opacity: 1;
    }}